* {
    margin: 0;
    box-sizing: border-box;
    background-color: #fff4e7;
    font-family: "Quicksand", sans-serif;
}
.line-through {
    text-decoration: line-through;
}

textarea {
    outline: none;
}

input {
    outline: none;
}

button {
    outline: none;
}

.usercolor {
    color: #a70041;
}

.fas {
    font-size: 18pt;
    color: #a70041;
}

.fas:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav img {
    border-radius: 50%;
}

.nav h5 {
    padding: 20px;
}

.search-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-title img {
    border-radius: 50%;
}

.search-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbtn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #a70041;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 60px;
    margin: 20px;
}

.searchbtn:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.inputOne {
    padding: 6px;
    font-size: 30px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-radius: 18px;
    box-shadow: 4px 7px 13px rgba(66, 66, 66, 0.7);
    outline: none;
    margin: 20px;
    width: 400px;
}

.inputOne:focus::placeholder {
    color: transparent;
}

.checkboxes {
    padding: 10px;
}

.checkboxes * {
    padding: 10px;
}

.search-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.search-items div {
    padding: 10px;
}

.modal-img:hover {
    cursor: pointer;
    transform: scale(1.03);
    border: solid rgb(34, 29, 29) 1px;
}

.h3 {
    width: 300px;
}

.modal-parent {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal {
    position: fixed;
    top: 20%;
    left: 30%;
    bottom: 70%;
    background-color: #a70041;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-section {
    display: flex;
    justify-content: space-between;
}

.modal-section div {
    padding: 10px;
}

.modal-section h4 p {
    display: flex;
    flex-direction: column;
}

.favourite-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.favourites-title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.favourites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 40px;
    padding: 10px;
}

.each-fave {
    width: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
}

.each-fave button {
    width: 50px;
    z-index: 2;
}

.trash-star {
    display: flex;
    justify-content: space-between;
}

.top-list {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    width: 715px;
    height: 260px;
}

.each-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-direction: column; */
}
.each-top div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.most-viewed-list {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.each-view {
    display: flex;
}
.each-view div {
    margin: 15px;
}

.profile-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
}

.profile-image {
    justify-self: center;
}

.profile-image h1 {
    text-align: center;
    padding-bottom: 20px;
}

.list-container {
    justify-self: flex-start;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: #a70041;
    border-radius: 20px;
    /* color: #fff4e7; */
}

.list-input {
    font-size: 20px;
    border-width: 0px;
    border-color: #cccccc;
    background-color: #fff4e7;
    color: #000000;
    /* border-radius: 18px; */
    border-bottom: solid #a70041 1px;
    outline: none;
    /* border-width: 0px; */
    width: 200px;
}

.list-input:focus::placeholder {
    color: transparent;
}

.add-item {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.item-list-parent {
    overflow-y: scroll;
    height: 140px;
}

.item-list {
    display: flex;
    justify-content: center;
}
.list-button {
    background-color: #a70041;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 8px;
    margin: 10px;
}

.list-del {
    background-color: #fff4e7;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #a70041;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 8px;
    margin: 10px;
}

.my-recipe-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.my-recipe-form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #a70041;
    padding: 10px;
    border-radius: 20px;
}

.my-recipe-form * {
    margin: 10px;
    border-radius: 10px;
    padding: 3px 9px;
}
.my-recipe-form label {
    background-color: #a70041;
    color: #fff4e7;
    font-size: 20pt;
}

#yield {
    width: 50px;
}

#label {
    font-size: 15pt;
}
