* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* NAVBAR */
a {
    padding: 0;
}

a:hover {
    color: wheat;
    text-decoration: none;
}

h3 {
    font-size: 16pt;
}

.navbar {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkslategrey;
}

.navbar * {
    background-color: darkslategrey;
    padding: 0px 40px;
    color: white;
    font-size: 14pt;
}

.logo {
    justify-self: flex-end;
}

/* WELCOME */
/* .welcome-bgc {
    height: 100vh;
    background: url(./welcome.jpg);
} */
.welcome-msg {
    position: absolute;
    background: none;
    top: 50%;
    left: 20%;
    right: 30%;
    object-fit: fill;
}

.welcome-msg * {
    background: none;
    color: white;
}

/* MUSICIANS */
/* releases */
.release-list {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
}

.release-list {
    padding: 5px;
}

/* artists */
.artist-list {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
}

.artist-list {
    padding: 5px;
}

/* MAP */
.map-container {
    height: 80vh;
}

/* CAROUSEL */

.carousel-caption {
    padding: 0;
}
.carousel-caption * {
    margin: 0;
}
